#Welcome .ant-layout{
    width: 100%;
    min-height: 100%;
}
#Welcome #motal{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Welcome #motal-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(55, 56, 56, 0.3);
    z-index: 1;
}
#Welcome #motal-ct{
    position: absolute;
    z-index:2;
    width: 30%;
    height: 40%;
    min-height: 30%;
    border: 1px solid rgb(230, 230, 230, 0.3);
}